.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a67c52;
    padding: 1rem 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  
  .navbar h1 {
    color: #fff;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  